<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>

<h1>Admin Panel – Garbage Complaints</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Type</th>
        <th>Description</th>
        <th>Photo</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for c in complaints %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.location }}</td>
        <td>{{ c.garbage_type }}</td>
        <td>{{ c.description }}</td>

        <td>
            {% if c.photo %}
                <a href="{{ url_for('static', filename='uploads/' + c.photo) }}" target="_blank">
                    View Image
                </a>
            {% else %}
                No Image
            {% endif %}
        </td>

        <td class="{{ c.status|lower }}">
            {{ c.status }}
        </td>

       <td class="{{ c.status|lower|replace(' ', '-') }}">
    {{ c.status }}
</td>

<td>
    <form method="POST" action="/update_status">
        <input type="hidden" name="id" value="{{ c.id }}">

        <select name="status">
            <option value="Pending" {% if c.status=='Pending' %}selected{% endif %}>Pending</option>
            <option value="In Progress" {% if c.status=='In Progress' %}selected{% endif %}>In Progress</option>
            <option value="Resolved" {% if c.status=='Resolved' %}selected{% endif %}>Resolved</option>
        </select>

        <button type="submit">Update</button>
    </form>
</td>

    </tr>
    {% endfor %}
</table>

</body>
</html>
