body{
  font-family: Arial;
  background:#e7ffe7;
  margin:0;
  text-align:center;
}

nav{
  background:#1f2937;
  padding:15px;
}

nav a{
  color:white;
  margin:15px;
  text-decoration:none;
}

.logo{
  height:40px;
  vertical-align:middle;
}

.hero{
  padding:100px;
  background:#22c55e;
  color:white;
}

.btn{
  background:white;
  color:#22c55e;
  padding:15px 30px;
  text-decoration:none;
  border-radius:30px;
}
