*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
nav{
  background:#1f2937;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 50px;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-weight:500;
}

nav a:hover{
  color:#22c55e;
}

.logo{
  height:45px;
}

/* HERO */
.hero{
  height:90vh;
  background:linear-gradient(135deg,#22c55e,#16a34a);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:white;
  text-align:center;
}

.hero h1{
  font-size:48px;
}

.hero p{
  margin:20px 0;
  font-size:18px;
}

.btn{
  background:white;
  color:#16a34a;
  padding:15px 35px;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
  transition:.3s;
}

.btn:hover{
  background:#dcfce7;
}

/* FORMS */
form{
  background:white;
  width:350px;
  margin:80px auto;
  padding:30px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(0,0,0,0.1);
}

input,textarea{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:5px;
}

button{
  background:#22c55e;
  border:none;
  color:white;
  padding:12px;
  width:100%;
  border-radius:20px;
  cursor:pointer;
}
